# File: .gitignore
Session.vim

# No need to include locally built website.
# Website is built at Gitlab and published.
/public/

# pdflatex intermediate files
*.aux
*.log

# PDF-files ignored for not being needed.
# PDFs are used for creating more fitting website graphics.
*.pdf
