{{ define "main" }}
    {{ partial "breadcrumbs.html" . }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{ range sort .Pages "Title" }}
        <h3 class = "list_link"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
    {{ .Summary }}
    {{ end }}
{{ end }}
