/* Background */ .bg { background-color:#fff; }
/* PreWrapper */ .chroma { background-color:#fff; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:var(--code-line-hl-color) }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { font-weight:normal }
/* KeywordConstant */ .chroma .kc { font-weight:normal }
/* KeywordDeclaration */ .chroma .kd { font-weight:normal }
/* KeywordNamespace */ .chroma .kn { font-weight:normal }
/* KeywordPseudo */ .chroma .kp {  }
/* KeywordReserved */ .chroma .kr { font-weight:normal }
/* KeywordType */ .chroma .kt {  }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { font-weight:normal }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni { font-weight:normal }
/* NameException */ .chroma .ne { font-weight:normal }
/* NameFunction */ .chroma .nf {  }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn { font-weight:normal }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { font-weight:normal }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s {  }
/* LiteralStringAffix */ .chroma .sa {  }
/* LiteralStringBacktick */ .chroma .sb {  }
/* LiteralStringChar */ .chroma .sc {  }
/* LiteralStringDelimiter */ .chroma .dl {  }
/* LiteralStringDoc */ .chroma .sd {  }
/* LiteralStringDouble */ .chroma .s2 {  }
/* LiteralStringEscape */ .chroma .se { font-weight:normal; }
/* LiteralStringHeredoc */ .chroma .sh {  }
/* LiteralStringInterpol */ .chroma .si { font-weight:normal; }
/* LiteralStringOther */ .chroma .sx {  }
/* LiteralStringRegex */ .chroma .sr {  }
/* LiteralStringSingle */ .chroma .s1 {  }
/* LiteralStringSymbol */ .chroma .ss {  }
/* LiteralNumber */ .chroma .m {  }
/* LiteralNumberBin */ .chroma .mb {  }
/* LiteralNumberFloat */ .chroma .mf {  }
/* LiteralNumberHex */ .chroma .mh {  }
/* LiteralNumberInteger */ .chroma .mi {  }
/* LiteralNumberIntegerLong */ .chroma .il {  }
/* LiteralNumberOct */ .chroma .mo {  }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow { font-weight:normal }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { font-style:normal; }
/* CommentHashbang */ .chroma .ch { font-style:normal }
/* CommentMultiline */ .chroma .cm { font-style:normal }
/* CommentSingle */ .chroma .c1 { font-style:normal;color:var(--code-comment-color) }
/* CommentSpecial */ .chroma .cs { font-style:normal }
/* CommentPreproc */ .chroma .cp {  }
/* CommentPreprocFile */ .chroma .cpf {  }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight:normal }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp { font-weight:normal }
/* GenericStrong */ .chroma .gs { font-weight:normal }
/* GenericSubheading */ .chroma .gu { font-weight:normal }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
