<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{ partial "head.html" . }}{{ if .Param "math" }}{{ partialCached "math.html" . }}{{ end }}</head>
<body>
    <header>
        <div class = "header__left"></div>
        <div class = "header__center">
            {{ partial "header.html" . }}        </div>
        <div class = "header__right"></div>
    </header>
    <main>
        <div class = "main__left"></div>
        <div class = "main__center">
            {{ block "main" . }}{{ end }}
        </div>
        <div class = "main__right"></div>
    </main>
    <footer>
        <div class = "footer__left"></div>
        <div class = "footer__center">
            {{ partial "footer.html" . }}
        </div>
        <div class = "footer__right"></div>
    </footer>
</body>
</html>
