{{ define "main" }}
    <h2>{{ .Title }}</h2>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

    {{ .Content }}

    {{ if strings.Contains .Page.Permalink "localhost" }}
    {{ else }}
    {{ partial "hyvortalk.html" }}
    {{ end }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
