{{ define "main" }}
    {{ partial "breadcrumbs.html" . }}
    <h2>{{ .Title }}</h2>
    {{ range .Pages }}
        <h4 class = "list_link"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h4>
    {{ end }}
{{ end }}
