{{ define "main" }}
    <!-- <h5>layouts/_default/list.html</h5> -->
    <ul>
    {{ range where .Site.RegularPages "Section" "==" "post" }}
        <li><a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            <p>{{ .Summary }}</p>
        </li>
    {{ end }}
    </ul>
{{ end }}

