:root {
    --white  : #FFFFFF;
    --red    : #FF6868;
    --green  : #CBFFA9;
    --orange : #FFD6A5;
    --yellow : #FFFEC4;

    --link-color : var(--red);

    --code-comment-color : #A9A9A9;
    --code-indentation   : "  ";
    --code-line-hl-color : var(--green);
}

*, html, header, main, footer {
}

widescreen {
    display: block;
}

smallscreen {
    display: none;
}

html {
    height : 100%;
}

body {
    min-height: 100%;
}

body, header, main, footer {
    display : flex;
}

body {
    display        : flex;
    flex-direction : column;
    color          : #222;
    font-family    : sans-serif;
    line-height    : 1.5;
    margin         : 0;
}

h1 {
    margin-bottom : 0;
}

h2 {
    margin-bottom : 0;
}

h3 {
    margin-bottom : 0;
}

h3.list_link {
    margin-top    : 0;
    margin-bottom : 0;
}

h4.list_link {
    margin-top    : 0;
    margin-bottom : 0;
}

ul.navigator {
    margin       : 0;
    padding-left : 0;
    list-style   : none;
}

ul.navigator li.nav-link {
    display: inline;
}

ul.navigator li.nav-link + li.nav-link:before {
    content: "\003E\00a0";
}

time {
    margin-bottom : 1rem;
}

.exercise-tag, .exnum {
    text-align       : center;
    font-weight      : bold;
    color            : var(--white);
    border           : 1px solid var(--red);
    background-color : var(--red);
    border-radius    : 5px;
    padding          : 2px 5px 2px 5px;
}

pre {
    overflow-x: auto;
}

pre span::before {
    content: var(--code-indentation) "  ";
}

pre span span::before {
    content: "";
}

.listing {
    counter-reset: linenumber;
}

.listing pre code span.line::before {
    counter-increment : linenumber;
    content           : " " counter(linenumber) var(--code-indentation);
    color             : var(--code-comment-color);
}

.listing pre code span.line:nth-child(n + 10)::before {
    content           : counter(linenumber) var(--code-indentation);
}

.listing pre code span span {
    counter-increment : linenumber 0;
}

.comment-section {
    margin-top : 64px;
}

header, main, footer {
    flex-direction : row;
}

header nav {
    /* background      : var(--yellow); */
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 40%;
}

header nav ul {
    /* background : var(--green); */
    display         : flex;
    flex            : 1;
    flex-direction  : row;
    justify-content : space-evenly;
    width           : 30%;
    margin          : 0;
    padding         : 0;
    list-style-type : none;
}

.header__left   , .main__left   , .footer__left    ,
.header__center , .main__center , .footer__center  ,
.header__right  , .main__right  , .footer__right {
    display        : flex;
    flex-direction : column;
    width          : 100%;
}

.header__left  , .main__left  , .footer__left    ,
.header__right , .main__right , .footer__right {
    width : 100%;
}

.header__left, .main__left, .footer__left {
    /* background : var(--green); */
}

.header__center, .main__center, .footer__center {
    /* background : var(--red); */
    min-width   : 700px;
}

.header__right, .main__right, .footer__right {
    /* background : var(--yellow); */
}

.header__center {
    flex-direction  : row;
    justify-content : space-between;
}

main {
    flex-grow : 1;
    height    : 100%;
}

.main__center {
    text-align: justify;
}

.main__center ul {
    margin       : 0;
    padding-left : 0;
    list-style   : none;
}

.main__center img {
    max-width     : 100%;
    margin-top    : 2rem;
    margin-bottom : 1rem;
}

footer {
    /* ... */
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration : underline;
}

code {
      font-size : 1.0rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header nav {
        width          : 100%;
    }

    .header__center {
        display        : flex;
        width          : 100%;
        flex-direction : column;
        align-items    : center;
    }

    .header__center, .main__center, .footer__center {
        /* background : var(--red); */
        min-width   : 90%;
    }

    widescreen {
        display: none;
    }

    smallscreen {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* ... */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* ... */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* ... */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* ... */
}
